body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    padding: 10px 0;
    color: white;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #222;
}

.logo h1 {
    color: #fff;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('principal.png'); /* Aquí puedes agregar la imagen de fondo que desees */
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: #e55b00;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
